[Interface]
PrivateKey = {{ private }}
Address = {{ address }}/24
DNS = 9.9.9.9, 149.112.112.112

[Peer]
PublicKey = {{ srv_public }}
EndPoint = {{ srv_endpoint }}:{{ srv_port }}
AllowedIPs = 0.0.0.0/0
