[Interface]
PrivateKey = {{ server_private_key }}
Address = 10.10.10.1/24
ListenPort = 51820
PostUp = ufw route allow in on wg0 out on eth0
PostUp = iptables -t nat -I POSTROUTING -o eth0 -j MASQUERADE
PreDown = ufw route delete allow in on wg0 out on eth0
PreDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

{% for u in users %}
[Peer]
PublicKey = {{ u['public'] }}
AllowedIPs = {{ u['ip'] }}/32

{% endfor %}
