[Interface]
PrivateKey = {{ server_private_key }}
Address = 10.10.10.1/24, fd42:42:42::1/64
ListenPort = 51820
PostUp = iptables -t nat -I POSTROUTING -o eth0 -j MASQUERADE
PostUp = ip6tables -t nat -I POSTROUTING -o eth0 -j MASQUERADE
PreDown = iptables -t nat -D POSTROUTING -o eth0 -j MASQUERADE
PreDown = ip6tables -t nat -D POSTROUTING -o eth0 -j MASQUERADE

{% for u in users %}
[Peer]
PublicKey = {{ u["public"] }}
AllowedIPs = {{ u["ip"] }}/32, fd42:42:42::{{u["ip"].split(".")[-1]}}/128

{% endfor %}
