[Unit]
Description=Prometheus exporter for machine metrics
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Restart=always
User=node_exporter
Group=node_exporter
ExecStart=/usr/local/sbin/node_exporter --collector.systemd
WorkingDirectory=/
RestartSec=5m

[Install]
WantedBy=multi-user.target
