[Unit]
Description=Prometheus exporter for machine metrics
Documentation=https://github.com/prometheus/node_exporter
After=network.target

[Service]
Restart=always
User='node_exporter'
Group='node_exporter
ExecStart=/usr/local/sbin/node_exporter --collector.diskstats.ignored-devices="^(dm|ram|loop|fd|(h|v|xv)d[a-z]|nvme\\d+n\\d+p)\\d+$" 
    --collector.filesystem.ignored-mount-points="^/(sys|proc|dev|run)($|/)" 
    --collector.systemd 
    --collector.systemd.unit-whitelist="^(kube).+$"
WorkingDirectory=/
RestartSec=30s

[Install]
WantedBy=multi-user.target